<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Amazon Turkey Suite">
    <listeners>
        <listener class-name="com.mehmet.AssignmentTA.utils.TestListener" />
    </listeners>
    <test name="Amazon End-to-End Shopping Tests">
        <classes>
            <class name="com.mehmet.AssignmentTA.tests.AmazonTest" />
        </classes>
    </test>
</suite>
